// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  font-family: "Kanit Light", sans-serif !important;
  --ion-font-family: "Kanit Light", sans-serif !important;

  --ion-color-base: #36393F;
  --ion-color-contrast: #ffffff;
  --ion-background-color: #36393F;
  --ion-text-color: #ffffff;
  --ion-color-primary: #484C52;
  --ion-color-primary-rgb: 56,128,255;
  --ion-color-secondary: #5DD39E;
  --ion-color-secondary-rgb: 12,209,232;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-tertiary:  #348AA7;
  --ion-color-tertiary-rgb: 112,68,255;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-success-rgb: 16,220,96;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-warning: #ff3d3d;
  --ion-color-warning-rgb: 255,206,0;
  --ion-color-warning-contrast-rgb: 255,255,255;
  --ion-color-danger-rgb: 245,61,61;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-dark: #ffffff;
  --ion-color-dark-rgb: 34,34,34;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-medium: #513B56;
  --ion-color-medium-rgb: 152,154,162;
  --ion-color-medium-contrast-rgb: 255,255,255;

  --ion-color-light: #36393F;
  --ion-color-light-rgb: 244,244,244;
  --ion-color-light-contrast-rgb: 0,0,0;
}
