<ion-card>
  <ion-grid class="noPadding">

    <ion-row class="noPadding">
      <ion-col class=" ion-text-center matchColumn redRow" col-5>
        <ion-label class="teamText">RED</ion-label>
      </ion-col>
      <ion-col class=" ion-text-center matchColumn blueRow" col-5>
        <ion-label class="teamText">BLUE</ion-label>
      </ion-col>
    </ion-row>

    <ion-row class="noPadding" *ngFor="let teamIndex of [0, 1, 2]">
      <ion-col class="noPadding ion-text-center matchColumn" col-5>
        <ion-label *ngIf="match.alliances.red.team_keys[teamIndex] != homeTeam" class="teamText">{{ match.alliances.red.team_keys[teamIndex].substring(3) }}</ion-label>
        <ion-label *ngIf="match.alliances.red.team_keys[teamIndex] === homeTeam" class="highlightedText">{{ match.alliances.red.team_keys[teamIndex].substring(3) }}</ion-label>
      </ion-col>
      <ion-col class="noPadding ion-text-center matchColumn" col-5>
        <ion-label *ngIf="match.alliances.blue.team_keys[teamIndex] != homeTeam" class="teamText">{{ match.alliances.blue.team_keys[teamIndex].substring(3) }}</ion-label>
        <ion-label *ngIf="match.alliances.blue.team_keys[teamIndex] === homeTeam" class="highlightedText">{{ match.alliances.blue.team_keys[teamIndex].substring(3) }}</ion-label>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-card>