/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.noPadding {
    padding: 0 0 0 0 !important;
  }

  b, i, p, h2,
  .sc-ion-card-md-h, .sc-ion-card-md-s, ion-icon,
  .button, .button-md, .button-solid, .button-solid-md {
    color: var(--ion-color-dark) !important;
  }
  
  ion-label {
    color: var(--ion-color-dark)
  }

  ion-toolbar {
    --background: var(--ion-color-light);
    --ion-color-base: var(--ion-color-light) !important;
  }
  
  ion-card {
    background: var(--ion-color-primary) !important;
  }

.matchCard {
  // height: 7.05vh;
  max-width: 80%;
  margin: 2% auto;
}

.highlightedText {
  color: #fffd00;
  font-weight: 600 !important;
  font-size: 1.3em !important;
}

.matchText {
  font-weight: 600 !important;
  font-size: 1.2em !important;
}

.teamText {
  color: #ffffff;
  font-weight: 500 !important;
  font-size: 1.2em !important;
}

.rowContainer {
  max-height: 13.7vh !important;
}

.redRow {
  background-color: #c04d4d !important;
}

.blueRow {
  background-color: #6874bf !important
}

.matchColumn {
  min-width: 3vh !important;
}

.h100 {
  height: 100%;
}

.w100 {
  width: 100%;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}