<falcon-toolbar [title]="currentEvent"></falcon-toolbar>

<ion-content>
  <h2 class="ion-text-center">Current Match</h2>

  <ion-card>
    <ion-grid class="noPadding">
      <ion-row class="noPadding" style="max-height: 13.7vh">
        <ion-col class="noPadding" class="ion-text-center" size="2.4">
          <div style="width: 100%" class="center"><b>{{ currentMatch.comp_level.toUpperCase() }}-{{ currentMatch.match_number }}</b></div>
        </ion-col>
        <ion-col size="9.6" class="noPadding">
          <ion-grid class="noPadding">
            <ion-row class="noPadding" style="background-color: #fdd !important">
              <ion-col class="noPadding" col-5 style="min-width: 3vh !important" class="ion-text-center" *ngFor="let team of currentMatch.alliances.red.team_keys">
                <ion-label style="color: #6e4552; font-weight: 500; font-size: 1.2em">{{ team.substring(3) }}</ion-label>
              </ion-col>
              <ion-col class="noPadding" col-5 style="min-width: 3vh !important" class="ion-text-end">
                <ion-label style="color: #6e4552; font-weight: 800; font-size: 1.3em; margin-right: 2vh">{{ currentMatch.alliances.red.score }}</ion-label>
              </ion-col>
            </ion-row>
            <ion-row class="noPadding" style="background-color: #ddf !important">
              <ion-col class="noPadding" col-5 style="min-width: 3vh !important" class="ion-text-center" *ngFor="let team of currentMatch.alliances.blue.team_keys">
                <ion-label style="color: #6e4552; font-weight: 500; font-size: 1.2em">{{ team.substring(3) }}</ion-label>
              </ion-col>
              <ion-col class="noPadding" col-5 style="min-width: 3vh !important" class="ion-text-end">
                <ion-label style="color: #6e4552; font-weight: 800; font-size: 1.3em; margin-right: 2vh">{{ currentMatch.alliances.blue.score }}</ion-label>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <h2 class="ion-text-center">5190 Match Schedule</h2>
  <ion-card *ngFor="let match of pitTeamMatches">
    <ion-grid class="noPadding">
      <ion-row class="noPadding" style="max-height: 13.7vh">
        <ion-col class="noPadding" class="ion-text-center" size="2.4">
          <div style="width: 100%" class="center"><b>{{ match.comp_level.toUpperCase() }}-{{ match.match_number }}</b></div>
        </ion-col>
        <ion-col size="9.6" class="noPadding">
          <ion-grid class="noPadding">
            <ion-row class="noPadding" style="background-color: #fdd !important">
              <ion-col class="noPadding" col-5 style="min-width: 3vh !important" class="ion-text-center" *ngFor="let team of match.alliances.red.team_keys">
                <ion-label style="color: #6e4552; font-weight: 500; font-size: 1.2em" routerLink="../team-info/{{ team.substring(3) }}">{{ team.substring(3) }}</ion-label>
              </ion-col>
              <ion-col class="noPadding" col-5 style="min-width: 3vh !important" class="ion-text-end">
                <ion-label style="color: #6e4552; font-weight: 800; font-size: 1.3em; margin-right: 2vh">{{ match.alliances.red.score }}</ion-label>
              </ion-col>
            </ion-row>
            <ion-row class="noPadding" style="background-color: #ddf !important">
              <ion-col class="noPadding" col-5 style="min-width: 3vh !important" class="ion-text-center" *ngFor="let team of match.alliances.blue.team_keys">
                <ion-label style="color: #6e4552; font-weight: 500; font-size: 1.2em" routerLink="../team-info/{{ team.substring(3) }}">{{ team.substring(3) }}</ion-label>
              </ion-col>
              <ion-col class="noPadding" col-5 style="min-width: 3vh !important" class="ion-text-end">
                <ion-label style="color: #6e4552; font-weight: 800; font-size: 1.3em; margin-right: 2vh">{{ match.alliances.blue.score }}</ion-label>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <!-- <ion-card *ngFor="let match of matchCollectionArray">
      <ion-grid class="noPadding">
        <ion-row class="noPadding" style="max-height: 13.7vh">
          <ion-col class="noPadding" class="ion-text-center" size="2.4">
            <div style="width: 100%" class="center"><b>{{ match.comp_level.toUpperCase() }}-{{ match.match_number }}</b></div>
          </ion-col>
          <ion-col size="9.6" class="noPadding">
            <ion-grid class="noPadding">
              <ion-row class="noPadding" style="background-color: #fdd !important">
                <ion-col class="noPadding" col-5 style="min-width: 3vh !important" class="ion-text-center" *ngFor="let team of match.alliances.red.team_keys">
                  <ion-label style="color: #6e4552; font-weight: 500; font-size: 1.2em" routerLink="../team-info/{{ team.substring(3) }}">{{ team.substring(3) }}</ion-label>
                </ion-col>
                <ion-col class="noPadding" col-5 style="min-width: 3vh !important" class="ion-text-end">
                  <ion-label style="color: #6e4552; font-weight: 800; font-size: 1.3em; margin-right: 2vh">{{ match.alliances.red.score }}</ion-label>
                </ion-col>
              </ion-row>
              <ion-row class="noPadding" style="background-color: #ddf !important">
                <ion-col class="noPadding" col-5 style="min-width: 3vh !important" class="ion-text-center" *ngFor="let team of match.alliances.blue.team_keys">
                  <ion-label style="color: #6e4552; font-weight: 500; font-size: 1.2em" routerLink="../team-info/{{ team.substring(3) }}">{{ team.substring(3) }}</ion-label>
                </ion-col>
                <ion-col class="noPadding" col-5 style="min-width: 3vh !important" class="ion-text-end">
                  <ion-label style="color: #6e4552; font-weight: 800; font-size: 1.3em; margin-right: 2vh">{{ match.alliances.blue.score }}</ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
      </ion-grid>
  </ion-card>


  <div *ngIf="matchCollectionArray.length < 1">
    <ion-card *ngFor="let match of [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]" style="height: 7.05vh">
      <ion-grid class="noPadding" style="height: 100%">
        <ion-row class="noPadding" style="max-height: 13.7vh">
          <ion-col class="noPadding" class="ion-text-center" size="2.4">
            <div class="center">
              <ion-spinner></ion-spinner>
            </div>
          </ion-col>
          <ion-col size="9.6" class="noPadding">
            <ion-grid class="noPadding" style="height: 100%">
              <ion-row class="noPadding" style="background-color: #fdd !important">
                <ion-col>
                  <ion-label class="ion-text-center" style="width: 100%; height: 100%"><ion-skeleton-text animated style="width: 100%"></ion-skeleton-text></ion-label>
                </ion-col>
              </ion-row>
              <ion-row class="noPadding" style="background-color: #ddf !important">
                <ion-col>
                  <ion-label class="ion-text-center" style="width: 100%; height: 100%"><ion-skeleton-text animated style="width: 100%"></ion-skeleton-text></ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </div> -->
</ion-content>
